/* Font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Universal Font */
* {
    font-family: "Roboto";
}

/* Regular Styles */
.nav-route a {
    font-family: "Roboto";
}
.hero-heading {
    font-family: "Bebas Neue";
}
.hero-heading span {
    font-family: "Bebas Neue";
}
.cart {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
    height: 455px;
    width: 325px;
}
.jacket-heading {
    font-family: "Bebas Neue";
}



/* Extra Small Screen */
@media (min-width: 320px) and (max-width: 479px) {
    /* Nav Section */
    .navbar {
        display: flex;
        align-items: center;
        width: 85%;
        margin: 0px auto;
        padding: 32px 0px;
    }
    .logo {
        width: 200px;
    }
    .nav-route li {
        display: none;
    }

    /* Hero Section */
    .hero-section {
        width: 85%;
        margin: 0px auto;
        flex-direction: column;
        align-items: start;
    }
    .hero-heading {
        font-size: 3rem;
    }
    .hero-description {
        font-size: 0.80rem;
    }
    .buy-now {
        font-size: 0.85rem;
        padding: 15px 25px;
    }
    .hero-image img {
        width: 80%;
        margin: 0px auto;
    }

    /* Woman Jacket Section */
    .jacket-section {
        flex-direction: column;
    }
    .jacket-heading {
        text-align: center;
    }
    .cart-heading {
        font-size: 1.5rem;
    }
    .cart-description {
        width: 98%;
        font-size: 0.85rem;
    }
    .cart {
        height: 465px;
        width: 280px;
        margin: 15px auto;
    }
    .cart-image img {
        width: 60%;
    }
    .cart-content {
        width: 100%;
    }
    .cart-image {
        width: 90%;
    }

}

/* Small Screen */
@media (min-width: 480px) and (max-width: 639px) {
    /* Nav Section */
    .navbar {
        display: flex;
        align-items: center;
        width: 85%;
        margin: 0px auto;
        padding: 32px 0px;
    }
    .logo {
        width: 250px;
    }
    .nav-route li {
        display: none;
    }

    /* Hero Section */
    .hero-heading {
        font-size: 2rem;
    }
    .hero-description {
        font-size: 0.85rem;
    }
    .buy-now {
        padding: 15px 25px;
        font-size: 0.85rem;
    }
    .hero-image img {
        width: 80%;
    }
    .hero-section {
        width: 85%;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
    }
    .hero-image {
        display: flex;
        justify-content: end;
    }

    /* Woman Jacket Section */
    .jacket-heading {
        width: 83%;
        font-size: 2rem;
    }
    .jacket-section {
        flex-wrap: wrap;
        width: 87%;
    }
    .cart {
        height: 390px;
        width: 210px;
        margin: 15px auto;
    }
    .cart-content {
        width: 100%;
    }
    .cart-image img {
        width: 60%;
    }
    .cart-image {
        width: 85%;
        height: 170px;
    }
    .cart-heading {
        font-size: 1rem;
    }
    .cart-description {
        font-size: 0.85rem;
    }
    .cart-price {
        font-size: 1.25rem;
    }
    .buy-now {
        padding: 10px 12px;
    }

}